# Clés de configuration de la base de données Firebase
VITE_FIREBASE_API_KEY=ton_api_key_ici
VITE_FIREBASE_AUTH_DOMAIN=ton_projet.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ton_project_id_ici
VITE_FIREBASE_STORAGE_BUCKET=ton_projet.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=ton_messaging_sender_id
VITE_FIREBASE_APP_ID=ton_app_id_ici

# Mot de passe d'accès au tableau de bord administrateur (Etsy-Style)
VITE_ADMIN_PASSWORD=choisis_un_mot_de_passe_ici
